
// general wrapper class

%post {
	@include outer-container;
	@include clearfix;
}

.container {
	@extend %post;
	max-width: 1280px;
	padding: 0 30px;
	
	.content {
		@include span-columns(8);
		padding: 0 2rem;
	}
	
	.sidebar {
		@include span-columns(4);
		@include omega();
		margin-bottom: 40px;
		
		@include media($mobile) {
			@include span-columns(4);
		}
	}
}