// mixins
@mixin montserrat {
	font-family: 'Montserrat', 'Roboto', sans-serif;
	// Normal: 400
}

@mixin roboto {
	font-family: 'Roboto', 'Montserrat', sans-serif;
	// Italic: 300
	// Normal: 400
	// Bold: 700
}

@mixin robotoSlab {
	font-family: 'Roboto Slab', serif;
	// Normal: 400
	// Bold: 700
}

// Settings

$maximum: 1000;
$minimum: 360;
$maxFont: 28;
$minFont: 14;
$fontRatio: 50;
$lineRatio: 1.45;

/**
 * Mixin start
 **/

@mixin flowtype($maximum, $minimum, $maxFont, $minFont, $fontRatio, $lineRatio) {
  $fontSize: $maxFont;
  $lineHeight: $lineRatio;

  $tempFontSize: $fontSize;
  $tempLineHeight: $lineHeight;
  
  @media screen and (max-width: #{$minimum}px) {
    $lineHeight: floor($minFont * $lineRatio);
    
    font-size: #{$minFont}px; 
    line-height: #{$lineHeight}px; 
  }

  @for $i from $minimum through $maximum {
    $fontBase: floor($i / $fontRatio);
      
    @if $fontBase > $maxFont {
      $fontSize: $maxFont;  
    }
    @else if $fontBase < $minFont {
      $fontSize: $minFont;
    }
    @else {
      $fontSize: $fontBase;
    }

    $lineHeight: floor($fontSize * $lineRatio);
    
    @if $tempLineHeight != $lineHeight or $tempFontSize != $fontSize {
      @media screen and (min-width: #{$i}px) {
        font-size: #{$fontSize}px; 
        line-height: #{$lineHeight}px;
      }
    }
    
    $tempLineHeight: $lineHeight;
    $tempFontSize: $fontSize;
  }
}