// typography baselines and @font face setups

h1, h2, h3, h4 {
	$font-family: $helvetica;
}

body {
	@include montserrat;
	font-weight: 400;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6,p {
	line-height: 1.45;
}

h1 { 
	font-size: 1.5em; 
}
h2 {
	@include montserrat;
	font-weight: 400;
	font-size: 1.25em;
	font-weight: 400;
}

// Use mixin

body {
  //@include flowtype($maximum, $minimum, $maxFont, $minFont, $fontRatio, $lineRatio);  
}