@charset "UTF-8";
/**
 * Disable all deprecation warnings. Defaults to `false`. Set with a `!global` flag.
 *
 * @type Bool
 */
/* Neat 1.7.0.pre
 * http://neat.bourbon.io
 * Copyright 2012–2014 thoughtbot, inc.
 * MIT License */
/**
 * Disable all deprecation warnings. Defaults to `false`. Set with a `!global` flag.
 *
 * @type Bool
 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/**
 * Makes an element a outer container by centring it in the viewport, clearing its floats, and setting its `max-width`.
 *
 * Although optional, using `outer-container` is recommended. The mixin can be called on more than one element per page, as long as they are not nested.
 *
 * @param {Number} $local-max-width ($max-width) - Max width to be applied to the element. Can be a percentage or a measure.
 *
 * @example scss
 *  .element {
 *    @include outer-container(100%);
 *  }
 *
 * @example css
 *  .element {
 *    *zoom: 1;
 *    max-width: 100%;
 *    margin-left: auto;
 *    margin-right: auto;
 *  }
 *
 *  .element:before, .element:after {
 *    content: " ";
 *    display: table;
 *  }
 *
 *  .element:after {
 *    clear: both;
 *  }
 */
/**
 * Changes the display property used by other mixins called in the code block argument.
 *
 * @param {String} $display (block) - Display value to be used within the block. Can be `table` or `block`.
 *
 * @example scss
 *   @include display(table) {
 *    .display-table {
 *      @include span-columns(6);
 *     }
 *   }
 *
 * @example css
 *   // CSS
 *   .display-table {
 *      display: table-cell;
 *      ...
 *   }
 */
/**
 * Changes the direction property used by other mixins called in the code block argument.
 *
 * @param {String} $direction (left-to-right) - Layout direction to be used within the block. Can be `left-to-right` or `right-to-left`.
 *
 * @example scss
 *   @include direction(right-to-left) {
 *    .right-to-left-block {
 *      @include span-columns(6);
 *     }
 *   }
 *
 * @example css
 *   // CSS
 *   .right-to-left-block {
 *     float: right;
 *      ...
 *   }
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }
a:hover, a:active {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.5em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.25em 0; }

h3 {
  font-size: 1.25em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("fonts/fontawesome-webfont.eot?v=4.0.3");
  src: url("fonts/fontawesome-webfont.eot?#iefix&v=4.0.3") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff?v=4.0.3") format("woff"), url("fonts/fontawesome-webfont.ttf?v=4.0.3") format("truetype"), url("fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-asc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-desc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-reply-all:before {
  content: ""; }

.fa-mail-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

/**
 * Mixin start
 **/
* {
  position: relative;
  margin: 0;
  padding: 0; }

html {
  overflow-x: hidden;
  background: #f5f5f5; }
  @media screen and (max-width: 600px) {
    html #wpadminbar {
      margin-top: -46px; } }

body {
  line-height: 2.4rem;
  color: #585858; }

a {
  text-decoration: none;
  -webkit-transition: color 0.5s ease-in;
  -moz-transition: color 0.5s ease-in;
  transition: color 0.5s ease-in;
  color: #585858; }
  a:hover {
    color: #e04848; }

p {
  margin: 0.625em 0; }

img {
  max-width: 100%;
  display: block; }

::selection {
  background: #e45e5e;
  opacity: 0.8;
  color: #f5f5f5;
  text-shadow: 0 0 1px #585858; }

::moz-selection {
  background: #e45e5e;
  opacity: 0.8;
  color: #f5f5f5;
  text-shadow: 0 0 1px #585858; }

.oldies {
  background: #8b8b8b;
  color: #f5f5f5;
  text-align: center;
  padding: 1rem 0; }

body {
  font-family: 'Montserrat', 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6, p {
  line-height: 1.45; }

h1 {
  font-size: 1.5em; }

h2 {
  font-family: 'Montserrat', 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  font-weight: 400; }

.container, .container-post {
  max-width: 71.25em;
  margin-left: auto;
  margin-right: auto; }
  .container:after, .container-post:after {
    content: "";
    display: table;
    clear: both; }
  .container:after, .container-post:after {
    content: "";
    display: table;
    clear: both; }

.container {
  max-width: 1280px;
  padding: 0 30px; }
  @media screen and (max-width: 600px) {
    .container {
      padding: 0 20px; } }
  .container .content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    padding: 0 2rem; }
    .container .content:last-child {
      margin-right: 0; }
  .container .sidebar {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-right: 0;
    margin-bottom: 40px; }
    .container .sidebar:last-child {
      margin-right: 0; }
    @media screen and (max-width: 600px) {
      .container .sidebar {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 100%; }
        .container .sidebar:last-child {
          margin-right: 0; } }

.container-post {
  max-width: 100%; }
  @media screen and (max-width: 600px) {
    .container-post {
      padding: 0 20px; } }

#globalHeader {
  border-top: 10px solid #e04848; }
  #globalHeader:after {
    content: "";
    display: table;
    clear: both; }
  #globalHeader .top_navigation {
    height: 60px; }
  #globalHeader .logo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
    text-transform: lowercase; }
    #globalHeader .logo:last-child {
      margin-right: 0; }
    @media screen and (max-width: 600px) {
      #globalHeader .logo {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 73.14426%; }
        #globalHeader .logo:last-child {
          margin-right: 0; } }
    #globalHeader .logo h1 {
      line-height: 60px;
      margin: 0; }
  #globalHeader #headerNavigation {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%; }
    #globalHeader #headerNavigation:last-child {
      margin-right: 0; }
    @media screen and (max-width: 600px) {
      #globalHeader #headerNavigation {
        display: none; } }
    #globalHeader #headerNavigation ul {
      list-style: none;
      float: right; }
      #globalHeader #headerNavigation ul li {
        float: left; }
        #globalHeader #headerNavigation ul li a {
          display: inline-block;
          padding: 0 1em;
          line-height: 60px;
          text-transform: lowercase; }
  #globalHeader .social_bar {
    height: 5px;
    background: #d8d8d8; }

.about_author {
  font-family: 'Roboto', 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 0.66667em;
  background: #e04848;
  color: #f5f5f5;
  padding: 20px;
  text-align: center; }
  .about_author .author_pic {
    display: inline-block; }
  .about_author h3 {
    color: #f5f5f5;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0; }
  .about_author a {
    color: #f5f5f5; }
    .about_author a:hover {
      color: #f5f5f5; }
  .about_author .author_bio {
    display: none;
    text-align: left; }
  .about_author .social_links {
    list-style-type: none;
    text-align: center; }
    .about_author .social_links li {
      width: 30px;
      display: inline-block;
      margin: 10px 10px 0; }
  .about_author .expand_bio {
    position: absolute;
    right: 15px;
    bottom: 10px;
    background: none;
    color: #f5f5f5;
    font-size: 0.77778em;
    border: 0;
    outline: none; }

#globalFooter {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background: #e04848;
  padding: 20px 0; }
  #globalFooter:last-child {
    margin-right: 0; }
  #globalFooter .logo_area {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    float: left; }
    #globalFooter .logo_area:last-child {
      margin-right: 0; }
  #globalFooter .logo {
    margin: 0;
    text-transform: lowercase;
    color: #ca1515;
    float: left; }
    #globalFooter .logo a {
      color: #ca1515; }
  #globalFooter .footer_nav {
    font-family: 'Montserrat', 'Roboto', sans-serif;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    font-size: 1em;
    text-transform: lowercase;
    margin-top: 4px; }
    #globalFooter .footer_nav:last-child {
      margin-right: 0; }
    #globalFooter .footer_nav ul {
      text-align: right;
      list-style-type: none; }
      #globalFooter .footer_nav ul li {
        display: inline-block;
        margin-right: 5%; }
        #globalFooter .footer_nav ul li a {
          padding-top: 3px;
          color: #ca1515; }

.post_content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .post_content:last-child {
    margin-right: 0; }
  @media screen and (max-width: 600px) {
    .post_content {
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 100%; }
      .post_content:last-child {
        margin-right: 0; } }
  .post_content article {
    margin-bottom: 30px; }
  .post_content header {
    background: #000;
    color: #f5f5f5;
    overflow: hidden; }
    .post_content header a {
      color: #f5f5f5; }
      .post_content header a:hover {
        color: #e04848; }
    .post_content header h2 {
      color: #f5f5f5;
      text-align: center; }
  .post_content .post_heading {
    padding: 60px 5%; }
    @media screen and (max-width: 768px) {
      .post_content .post_heading {
        padding: 40px 5%; } }
  .post_content .comments a:before {
    content: '\f0e6';
    font-family: FontAwesome;
    margin-right: 5px; }

.post_quote h2:before {
  content: '"'; }
.post_quote h2:after {
  content: '"'; }
.post_quote header a:hover {
  color: #f5f5f5; }
.post_quote .byline a {
  display: block;
  line-height: 1.25; }

.category_one .copy {
  border-left: 3px solid #e04848; }
.category_one.post_quote header {
  background: #e04848; }

.copy {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  color: #000;
  padding: 10px 20px;
  border: 1px solid #d8d8d8; }
  .copy:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (max-width: 768px) {
    .copy {
      font-size: 16px; } }

.byline {
  font-family: 'Roboto', 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 0.75em;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .byline {
      line-height: 1.25; } }
  .byline .fa {
    margin-left: 10px;
    font-size: 0.5em;
    position: absolute;
    top: 7px; }

.tags {
  font-family: 'Montserrat', 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  list-style-type: none; }
  .tags li {
    float: left;
    margin-right: 5px; }
    .tags li a {
      color: #bcbcbc; }
      .tags li a:hover {
        color: #e04848; }

.post_meta_overlays {
  position: absolute;
  font-size: 18px;
  color: #f5f5f5;
  position: absolute;
  line-height: 1.25; }
  @media screen and (max-width: 768px) {
    .post_meta_overlays {
      font-size: 14px; } }
  .post_meta_overlays a {
    color: #f5f5f5; }
    .post_meta_overlays a:hover {
      color: #e04848; }
  .post_meta_overlays p {
    margin: 0; }
  .post_meta_overlays .fa {
    margin-right: 5px; }
  .post_meta_overlays.reading_time {
    font-family: 'Roboto', 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: italic;
    top: 10px;
    left: 20px; }
  .post_meta_overlays.post_date {
    font-family: 'Roboto', 'Montserrat', sans-serif;
    text-align: right;
    font-weight: 300;
    font-style: italic;
    top: 10px;
    right: 20px; }
  .post_meta_overlays.taxonomies {
    bottom: 10px;
    left: 20px; }
    .post_meta_overlays.taxonomies ul {
      list-style-type: none; }
  .post_meta_overlays.comments {
    bottom: 10px;
    right: 20px; }

/* iframe video adjustment */
.video_wrapper {
  padding: 0 20%;
  margin: 30px 0; }
  @media screen and (max-width: 960px) {
    .video_wrapper {
      padding: 0 10%; } }
  @media screen and (max-width: 600px) {
    .video_wrapper {
      padding: 0; } }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.crayon-syntax {
  max-width: 800px;
  margin: 0 auto; }

.nav-previous {
  float: left; }

.nav-next {
  float: right; }

.featured_post_area {
  background: #000;
  overflow: hidden; }
  .featured_post_area .post_meta_overlays.taxonomies {
    bottom: 35px; }
  .featured_post_area .post_meta_overlays.comments {
    bottom: 35px; }
    .featured_post_area .post_meta_overlays.comments a:before {
      font-family: FontAwesome;
      content: '\f0e6';
      margin-right: 5px; }

.category_overlay a {
  text-transform: lowercase; }
  .category_overlay a:before {
    content: '#'; }

.featured_post {
  padding: 90px 10%;
  color: #f5f5f5;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .featured_post {
      padding: 50px 7%; } }
  @media screen and (max-width: 600px) {
    .featured_post {
      padding: 40px 10% 50px; } }
  .featured_post h2 {
    -webkit-transition: color 0.5s ease-in;
    -moz-transition: color 0.5s ease-in;
    transition: color 0.5s ease-in;
    font-size: 2em;
    color: #f5f5f5;
    line-height: 1.25;
    margin: 0; }
    @media screen and (max-width: 600px) {
      .featured_post h2 {
        font-size: 1.5em; } }
    .featured_post h2:hover {
      color: #e04848; }
  .featured_post p {
    font-size: 0.75em; }
    @media screen and (max-width: 600px) {
      .featured_post p {
        display: none; } }
  .featured_post a {
    color: #f5f5f5; }
    .featured_post a:hover {
      color: #e04848; }

.featured_image {
  position: absolute;
  width: 100%;
  opacity: .5; }
  .featured_image img {
    width: 100%;
    height: auto; }

.featured_arrow_side {
  width: 50%;
  height: 25px;
  background: #f5f5f5;
  bottom: 0;
  position: absolute; }
  .featured_arrow_side.featured_arrow_side-left {
    margin-left: -23px;
    left: 0; }
  .featured_arrow_side.featured_arrow_side-right {
    margin-right: -41px;
    right: 0; }

.featured_arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -23px; }

.callout .callout_links {
  list-style-type: none;
  text-align: center; }
  .callout .callout_links:after {
    content: "";
    display: table;
    clear: both; }
  .callout .callout_links li {
    margin: 0.22222em 0.11111em;
    display: inline-block; }
    .callout .callout_links li button {
      padding: 0.83333em 1.38889em;
      border: 0;
      border-radius: 5px; }

.main_home_content {
  padding-top: 20px; }

.popular_post_area .popular_post {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  padding: 20px 0 0;
  text-align: center; }
  .popular_post_area .popular_post:last-child {
    margin-right: 0; }
  .popular_post_area .popular_post h2 {
    font-size: 1.16667em; }
  .popular_post_area .popular_post a {
    color: #000; }
  .popular_post_area .popular_post .category {
    list-style-type: none;
    font-size: 0.58333em; }

.single_post_content {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  color: #000;
  padding: 0;
  margin: -25px 0 0; }
  .single_post_content .alignleft {
    display: inline-block;
    float: left;
    margin: 0 20px 10px -10%;
    max-width: 60%;
    height: auto;
    z-index: 1; }
    @media screen and (max-width: 600px) {
      .single_post_content .alignleft {
        margin-left: 0;
        max-width: 30%; } }
  .single_post_content .alignright {
    display: inline-block;
    float: right;
    margin: 0 -10% 10px 20px;
    max-width: 60%;
    height: auto;
    z-index: 1; }
    @media screen and (max-width: 600px) {
      .single_post_content .alignright {
        margin-right: 0;
        max-width: 30%; } }
  .single_post_content .aligncenter {
    display: block;
    margin: 20px auto; }
  .single_post_content footer {
    border-left: 3px solid #e04848;
    padding-bottom: 35px; }
    .single_post_content footer .comments {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%; }
      .single_post_content footer .comments:last-child {
        margin-right: 0; }
      @media screen and (max-width: 768px) {
        .single_post_content footer .comments {
          float: left;
          display: block;
          margin-right: 3.57866%;
          width: 100%; }
          .single_post_content footer .comments:last-child {
            margin-right: 0; } }
    .single_post_content footer #disqus_thread {
      clear: both; }
    .single_post_content footer .sidebar_single {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      margin-right: 0;
      float: right; }
      .single_post_content footer .sidebar_single:last-child {
        margin-right: 0; }
      @media screen and (max-width: 768px) {
        .single_post_content footer .sidebar_single {
          float: left;
          display: block;
          margin-right: 3.57866%;
          width: 100%; }
          .single_post_content footer .sidebar_single:last-child {
            margin-right: 0; } }
      @media screen and (max-width: 600px) {
        .single_post_content footer .sidebar_single {
          float: left;
          display: block;
          margin-right: 7.42297%;
          width: 100%;
          float: none; }
          .single_post_content footer .sidebar_single:last-child {
            margin-right: 0; } }
    .single_post_content footer .about_author {
      font-family: 'Roboto', 'Montserrat', sans-serif;
      margin-bottom: 30px; }
      .single_post_content footer .about_author:after {
        content: "";
        display: table;
        clear: both; }
      .single_post_content footer .about_author .author_pic {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%; }
        .single_post_content footer .about_author .author_pic:last-child {
          margin-right: 0; }
        @media screen and (max-width: 600px) {
          .single_post_content footer .about_author .author_pic {
            float: left;
            display: block;
            margin-right: 7.42297%;
            width: 100%; }
            .single_post_content footer .about_author .author_pic:last-child {
              margin-right: 0; } }
        .single_post_content footer .about_author .author_pic img {
          margin: 0 auto 10px; }
      .single_post_content footer .about_author .author_bio {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 74.41059%;
        margin-right: 0;
        font-size: 16px;
        text-align: left; }
        .single_post_content footer .about_author .author_bio:last-child {
          margin-right: 0; }
        @media screen and (max-width: 600px) {
          .single_post_content footer .about_author .author_bio {
            float: left;
            display: block;
            margin-right: 7.42297%;
            width: 100%; }
            .single_post_content footer .about_author .author_bio:last-child {
              margin-right: 0; } }
        .single_post_content footer .about_author .author_bio p:first-child {
          margin-top: 0; }
        .single_post_content footer .about_author .author_bio .more_by h4 {
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 0; }
        .single_post_content footer .about_author .author_bio .more_by .more_stories {
          list-style-type: none;
          line-height: 1.25; }
          .single_post_content footer .about_author .author_bio .more_by .more_stories li {
            margin: 5px 0; }

.post_copy {
  border-left: 3px solid #e04848;
  padding: 35px 0 20px; }
  .post_copy blockquote p {
    margin: 0.625em 10%;
    padding: 0 0 0 20px;
    border-left: 3px solid #e04848; }
    @media screen and (max-width: 600px) {
      .post_copy blockquote p {
        margin: 0.625em 0; } }
  .post_copy p {
    padding: 0 10%; }
    @media screen and (max-width: 600px) {
      .post_copy p {
        padding: 0; } }
  .post_copy ul {
    padding: 0 10%;
    margin: 0.625em 0;
    list-style-position: inside; }
    @media screen and (max-width: 600px) {
      .post_copy ul {
        padding: 0; } }
    .post_copy ul ul {
      padding: 0 0 0 20px;
      margin: 0; }
  .post_copy p.dropcap:first-letter {
    font-size: 2.83333em;
    float: left;
    line-height: 1;
    padding-right: 5px; }

.fixed_wrap {
  margin: 20px 0;
  overflow: hidden; }
  .fixed_wrap:after {
    content: "";
    display: table;
    clear: both; }
  .fixed_wrap .background_image {
    padding: 60px 0;
    background: rgba(0, 0, 0, 0.5); }
    .fixed_wrap .background_image.red {
      background: #e04848; }
  .fixed_wrap .fixed_image img {
    margin: 0 auto; }
  .fixed_wrap .fixed_quote {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-size: 1.16667em;
    line-height: 1.25;
    color: #f5f5f5;
    background: #e04848;
    padding: 50px 5%;
    text-align: center; }
    .fixed_wrap .fixed_quote:last-child {
      margin-right: 0; }
    @media screen and (max-width: 600px) {
      .fixed_wrap .fixed_quote {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 100%;
        margin-left: 0%; }
        .fixed_wrap .fixed_quote:last-child {
          margin-right: 0; } }
    .fixed_wrap .fixed_quote h3 {
      margin: 0; }
      .fixed_wrap .fixed_quote h3:before {
        content: '"'; }
      .fixed_wrap .fixed_quote h3:after {
        content: '"'; }
    .fixed_wrap .fixed_quote p {
      margin: 0; }
    .fixed_wrap .fixed_quote .source_material {
      font-size: 0.77778em;
      font-weight: 300;
      font-style: italic; }
      .fixed_wrap .fixed_quote .source_material a {
        color: #f5f5f5; }
        .fixed_wrap .fixed_quote .source_material a:hover {
          text-decoration: underline; }

.fixed_image_area {
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%; }
  .fixed_image_area.fixed {
    background-attachment: fixed; }
  .fixed_image_area.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    background-position: center center;
    margin: -1px; }

.sources {
  list-style-type: none;
  margin: 10px 0; }
  .sources li {
    padding-left: 7px;
    line-height: 1;
    margin-bottom: 5px;
    font-size: 14px; }
    .sources li:first-child {
      border-left: 2px solid #e04848;
      padding-left: 5px;
      line-height: 14px; }

.related_stories h4 {
  font-family: 'Montserrat', 'Roboto', sans-serif;
  color: #585858;
  font-size: 1.5em;
  line-height: 1;
  margin: 0 0 10px; }
.related_stories li {
  background: #000;
  overflow: hidden;
  margin-bottom: 20px; }
  @media screen and (max-width: 768px) {
    .related_stories li {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .related_stories li:last-child {
        margin-right: 0; }
      .related_stories li:nth-child(3n) {
        margin-right: 0; }
      .related_stories li:nth-child(3n+1) {
        clear: left; } }
  @media screen and (max-width: 600px) {
    .related_stories li {
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 100%; }
      .related_stories li:last-child {
        margin-right: 0; } }
  .related_stories li .featured_image {
    top: 0; }
    @media screen and (max-width: 768px) {
      .related_stories li .featured_image img {
        max-width: 160%;
        margin-left: -30%; } }
    @media screen and (max-width: 600px) {
      .related_stories li .featured_image img {
        max-width: 100%;
        margin: 0; } }
  .related_stories li h3 {
    padding: 0 5%;
    text-align: center;
    margin: 0;
    line-height: 1.2;
    font-size: 1em; }
    @media screen and (max-width: 768px) {
      .related_stories li h3 {
        font-size: 1em; } }
  .related_stories li a {
    color: #f5f5f5;
    padding: 20px 0;
    display: block; }
    @media screen and (max-width: 768px) {
      .related_stories li a {
        padding: 15px 0; } }

.google-ads-right {
  display: inline-block;
  float: right;
  margin-left: 20px;
  margin-right: 30px;
  z-index: 1; }
  @media screen and (max-width: 600px) {
    .google-ads-right {
      display: block;
      width: 100%;
      text-align: center;
      margin: 0; } }

.google-ads-left {
  display: inline-block;
  float: left;
  margin-right: 20px;
  z-index: 1; }
  @media screen and (max-width: 600px) {
    .google-ads-left {
      display: block;
      width: 100%;
      text-align: center; } }

.google-ads-center {
  display: block;
  z-index: 1;
  text-align: center;
  margin: 40px 0 30px; }
  @media screen and (max-width: 600px) {
    .google-ads-center {
      display: block;
      width: 100%;
      text-align: center; } }

.google-ads-sidebar {
  display: block;
  z-index: 1;
  text-align: center;
  margin: 0px 0 30px; }

.navigation-paging {
  font-size: 16px;
  margin-bottom: 40px; }
  .navigation-paging:after {
    content: "";
    display: table;
    clear: both; }
