.featured_post_area {
	background: $black;
	overflow:hidden;
	
	.post_meta_overlays {
		&.taxonomies {
			bottom: 35px;
		}
		
		&.comments {
			bottom: 35px;
			
			a {
				&:before {
					font-family: FontAwesome;
					content: '\f0e6';
					margin-right: 5px;
				}
			}
		}
	}
}

.category_overlay {
	a {
		text-transform: lowercase;
		&:before {
			content: '#';
		}
	}
}

.featured_post {
	padding: 90px 10%;
	color: $white;
	text-align:center;
	
	@include media($tablet) {
		padding: 50px 7%;
	}
	
	@include media($mobile) {
		padding: 40px 10% 50px;
	}
	
	h2 {
		@include transition(color .5s ease-in);
		font-size: 2em;
		color: $white;
		line-height: 1.25;
		margin: 0;
		
		@include media($mobile) {
			font-size: 1.5em;
		}
		
		&:hover {
			color: $red;
		}
	}
	
	p {
		font-size: em(18, 24);
		
		@include media($mobile) {
			display: none;
		}
	}
	
	a {
		color: $white;
		
		&:hover {
			color: $red;
		}
	}
}

.featured_image {
	position: absolute;
	width: 100%;
	opacity: .5;
	
	img {
		width: 100%;
		height: auto;
	}
}

.featured_arrow_side {
	width: 50%;
	height: 25px;
	background: $white;
	bottom: 0;
	position: absolute;
	
	&.featured_arrow_side-left {
		margin-left: -23px;
		left: 0;
	}
	
	&.featured_arrow_side-right {
		margin-right: -41px;
		right: 0;
	}
}

.featured_arrow{
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -23px;
}
