#globalHeader {
	border-top: 10px solid $red;
	@include clearfix;
	
	.top_navigation {
		height: 60px;
	}
	
	.logo {
		@include span-columns(5);
		text-transform: lowercase;
		
		@include media($mobile) {
			@include span-columns(3);
		}
		
		h1 {
			line-height: 60px;
			margin: 0;
		}
	}

	#headerNavigation {
		@include span-columns(7);
		
		@include media($mobile) {
			display: none;
		}

		ul {
			list-style: none;
			float: right;

			li {
				float: left;

				a {
					display: inline-block;
					padding: 0 1em;
					line-height: 60px;
					text-transform: lowercase;
				}
			}
		}
	}
	
	.social_bar {
		//height: 30px;
		height: 5px;
		background: $gray;
	}
}