#globalHeader {
	border-top: 10px solid $red;
	@include clearfix;
	
	.top_navigation {
		height: 90px;
	}
	
	.logo {
		@include span-columns(5);
		text-transform: lowercase;
		
		h1 {
			line-height: 90px;
			margin: 0;
		}
	}

	#headerNavigation {
		@include span-columns(7);
		margin-top: 2rem;

		ul {
			list-style: none;
			float: right;

			li {
				float: left;

				a {
					display: inline-block;
					padding: 1rem;
					text-transform: lowercase;
				}
			}
		}
	}
	
	.social_bar {
		height: 50px;
		background: $gray;
	}
}