.home {
	.google-ads-sidebar {
		@include media($tablet) {
			//display: none;
		}
	}
}

.callout {
	
	.callout_links {
		list-style-type: none;
		@include clearfix;
		text-align: center;
		
		li {
			margin: em(4,18) em(2, 18);
			display: inline-block;
			
			button {
				padding: em(15, 18) em(25, 18);
				border: 0;
				border-radius: 5px;
			}
		}
	}
}

.main_home_content {
	padding-top: 20px;
}