.post_content {
	@include span-columns(8);
	
	@include media($mobile) {
		@include span-columns(4);
	}
	
	article {
		margin-bottom: 30px;
	}
	
	header {
		background: $black;
		color: $white;
		overflow: hidden;
		
		a {
			color: $white;
			
			&:hover {
				color: $red;
			}
		}
		
		h2 {
			color: $white;
			text-align: center;
		}
	}
	
	.post_heading {
		padding: 60px 5%;
		
		@include media($tablet) {
			padding: 40px 5%;
		}
	}
}

.post_quote {
	h2 {
		&:before {
			content: '"';
		}
		&:after {
			content: '"';
		}
	}
	header {
		a {
			&:hover {
				color: $white;
			}
		}
	}
}

.category_one {
	.copy {
		border-left: 3px solid $red;
	}
	
	&.post_quote {
		header {
			background: $red;
		}
	}
}

.copy {
	@include clearfix;
	@include robotoSlab;
	font-size: em(18,24);
	color: $black;
	padding: 10px 20px;
	border: 1px solid $gray;
}

.byline {
	@include roboto;
	font-weight: 300;
	font-style: italic;
	font-size: em(18,24);
	text-align: center;
	
	@include media($tablet) {
		line-height: 1.25;
	}
	
	.fa {
		margin-left: 10px;
		font-size: em(12,24);
		position: absolute;
		top: 7px;
	}
}

.tags {
	@include montserrat;
	font-weight: 400;
	font-size: em(14,24);
	list-style-type: none;
	
	li {
		float: left;
		margin-right: 5px;
		
		a {
			color: $grayer;
			
			&:hover {
				color: $red;
			}
		}
	}
}

.post_meta_overlays {
	position: absolute;
	font-size: em(18,24);
	color: $white;
	position: absolute;
	line-height: 1.25;
	
	a {
		color: $white;
		
		&:hover {
			color: $red;
		}
	}
	
	p {
		margin: 0;
	}
	
	.fa {
		margin-right: 5px;
	}

	&.reading_time {
		@include roboto;
		font-weight: 300;
		font-style: italic;
		top: 10px;
		left: 20px;
	}
	
	&.post_date {
		@include roboto;
		text-align: right;
		font-weight: 300;
		font-style: italic;
		top: 10px;
		right: 20px;
	}
	
	&.taxonomies {
		bottom: 10px;
		left: 20px;
		
		ul {
			list-style-type: none;
		}
	}
	
	&.comments {
		bottom: 10px;
		right: 20px;
	}

}

/* iframe video adjustment */
.video_wrapper {
	padding: 0 20%;
	margin: 30px 0;
	
	@include media($break960) {
		padding: 0 10%;
	}
	
	@include media($mobile) {
		padding: 0;
	}
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.crayon-syntax {
	max-width: 800px;
	margin: 0 auto;
}

.nav-previous {
	float: left;
}

.nav-next {
	float: right;
}